Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
#Ans Q1.
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [10]:
import pandas as pd
my_list = [4, 8, 15, 16, 23, 42, 5, 9, 10, 17]

my_series = pd.Series(my_list)

print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
6     5
7     9
8    10
9    17
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:
Name                      Age                   Gender
Alice                     25                    Female
Bob                       30                    Male
Claire                    27                    Female

Then, print the DataFrame.

In [4]:
#Ans Q3.
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [5]:
#Ans Q4.
"""In Pandas, a DataFrame is a two-dimensional labeled data structure with columns that can hold data of different types. 
It is similar to a table in a relational database or a spreadsheet. A DataFrame provides a convenient way to store, manipulate, 
and analyze structured data. Each column in a DataFrame can be thought of as a Series."""

"""A Series, on the other hand, is a one-dimensional labeled array that can hold data of a single data type.
It can be thought of as a single column of a DataFrame. Essentially, a Series is a basic building block of a DataFrame."""

import pandas as pd

# Creating a Series
data_series = pd.Series([4, 8, 15, 16, 23, 42], name='Numbers')

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

data_df = pd.DataFrame(data)

# Printing the Series and DataFrame
print("Series:")
print(data_series)

print("\nDataFrame:")
print(data_df)

Series:
0     4
1     8
2    15
3    16
4    23
5    42
Name: Numbers, dtype: int64

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [7]:
#Ans Q5

"""df.head()  
df.tail()  
df.describe()
filtered_df = df[df['Age'] > 25]
df_dropped = df.drop(columns=['Column1', 'Column2'])
df_filled = df.fillna(0)"""
import pandas as pd
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df = pd.read_csv(url)
print(df.head())
print(df.describe())
filtered_df = df[(df['Sex'] == 'female') & (df['Age'] < 30)]
print(filtered_df.head())
df_dropped = df.drop(columns=['Cabin'])
print("\nDataFrame after dropping 'Cabin' column:")
print(df_dropped.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
    PassengerId  Survived  Pclass  \
2             3         1       3
8             9         1       3
9            10         1       2
10           11         1       3
14           15         0       3

                                                 Name     Sex   Age  SibSp  \
2                              Heikkinen, Miss. Laina  female  26.0      0
8   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                    Sandstrom, Miss. Marguerite Rut  female   4.0      1
14               Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0

    Parch            Ticket     Fare Cabin Embarked
2       0  STON/O2. 3101282   7.9250   NaN        S
8       2            347742  11.1333   NaN        S
9       0            237736  30.0708   NaN        C
10      1           PP 9549  16.7000    G6        S
14      0            350406   7.8542   NaN        S

DataFrame after dropping 'Cabin' column:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Embarked
0      0         A/5 21171   7.2500        S
1      0          PC 17599  71.2833        C
2      0  STON/O2. 3101282   7.9250        S
3      0            113803  53.1000        S
4      0            373450   8.0500        S

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [8]:
#Ans Q6.
"""Among the options given (Series, DataFrame, Panel), only the DataFrame is mutable in nature.

In Python, "mutable" means that an object can be modified after it's created.

A Series in Pandas is an immutable object, meaning you can't modify its individual elements after creation.

A Panel in Pandas was a 3D data structure in older versions of Pandas, but it's deprecated now.
Even though Panels were mutable, they are not recommended for use anymore. Instead, 
you should use MultiIndex DataFrames or other appropriate data structures.

A DataFrame is mutable, meaning you can modify its contents after creation. You can add or remove columns,
change values, and perform other modifications on a DataFrame."""

'Among the options given (Series, DataFrame, Panel), only the DataFrame is mutable in nature.\n\nIn Python, "mutable" means that an object can be modified after it\'s created.\n\nA Series in Pandas is an immutable object, meaning you can\'t modify its individual elements after creation.\n\nA Panel in Pandas was a 3D data structure in older versions of Pandas, but it\'s deprecated now.\nEven though Panels were mutable, they are not recommended for use anymore. Instead, \nyou should use MultiIndex DataFrames or other appropriate data structures.\n\nA DataFrame is mutable, meaning you can modify its contents after creation. You can add or remove columns,\nchange values, and perform other modifications on a DataFrame.'

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [9]:
"""Creating a DataFrame using multiple Series is a common operation in Pandas.
You can think of a DataFrame as a collection of Series, where each Series represents a column in the DataFrame.
You can combine these Series to create a structured table-like data structure."""

import pandas as pd

# Create individual Series
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# Create a DataFrame using the Series
data = {'Name': names, 'Age': ages, 'Gender': genders}
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female